link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
footer.footer-distributed
   div.footer-right
      a(href='#')
         i.fa.fa-facebook
      a(href='#')
         i.fa.fa-twitter
      a(href='#')
         i.fa.fa-linkedin
      a(href='#')
         i.fa.fa-github
   div.footer-left
      p.footer-links
         a.link-1(href='#') Home
         a(href='#') Customers
         a(href='#') About
         a(href='#') Faq
         a(href='#') Contact
      p Banking System &copy; 2022