doctype html
html
   head
      title Home
      link(rel='stylesheet', href='/style.css', type='text/css')
   body
      include ./navbar.pug
      img#headerImg(src='/header.jpeg')
      div.container
         h3 ONLINE BANKING SYSTEM 
         p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia consequuntur voluptatem eaque, sunt doloribus repellat ducimus consectetur enim quidem quae iure impedit vitae ipsum ab assumenda facere voluptatibus, mollitia architecto. Explicabo, quaerat reiciendis, recusandae et id nam eos suscipit quam quidem voluptatibus perferendis laboriosam excepturi obcaecati cupiditate consequatur similique distinctio! Recusandae labore qui facilis iusto excepturi facere deleniti magnam perferendis similique. Ipsum aspernatur repudiandae eius, dicta nemo qui, sint, dolorem ducimus minus hic quos magnam? Omnis corporis odio iure? Repudiandae assumenda non, ipsa aperiam beatae sapiente numquam, vel quaerat suscipit recusandae, dolore deleniti officia perspiciatis aliquid unde architecto vitae corporis?
         br
         br
         p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia consequuntur voluptatem eaque, sunt doloribus repellat ducimus consectetur enim quidem quae iure impedit vitae ipsum ab assumenda facere voluptatibus, mollitia architecto. Explicabo, quaerat reiciendis, recusandae et id nam eos suscipit quam quidem voluptatibus perferendis laboriosam excepturi obcaecati cupiditate consequatur similique distinctio! vel quaerat suscipit recusandae, dolore deleniti officia perspiciatis aliquid unde architecto vitae corporis?
         br
         br
      include ./footer.pug