header.header
         h1.logo
            a(href='/') Banking System
         ul.main-nav
            li
               a(href='/') Home
            li
               a(href='/customers') Customers
            li
               a(href='/contact') Contact